<h1> Bem vindo, <%= current_user.name %></h1>
<p>Esse é seu sistema para administrar ongs e clinicas veterinarias</p>

<div class="container">
  <%= link_to 'Acessar ongs', ongs_path, class: 'btn btn-primary' %>
  
  
</div>
